.container *{
    margin:0;
    padding: 0;
}
.container {
    width: 292px;
    height: 439px;
    border: 2px solid black;
}

/* section 1 */
.container>.box-image {
    width: 100%;
    height: 321px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 16px 30px rgba(105, 98, 98, 0.05);
}

.container>.box-image>span {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    width: 96px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background: #E7FF86;
    border-radius: 29px;
    color: #474747;
    font-weight: 700;
}

.container>.box-image>img {
    width: 248px;
    object-fit: cover;
    rotate: -15deg;
}

/* section 2 */
.container>h3 {
    font-size: 12px;
    font-weight: 700;
}

.container>h2 {
    font-size: 24px;
    font-weight: 400;
}

/* section 3 */
.container>.box-desconto {
    display: flex;
    gap: 5px;
}

.container>.box-desconto>h3:first-of-type,
.container>.box-desconto>h3:last-of-type {
    font-size: 24px;
    font-weight: 400;
    text-decoration: line-through;
}

.container>.box-desconto>h3:last-of-type {
    font-weight: 700;
}